body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;
    background-image: url(../images/fond1.jpg);
    background-position: center;
    
}
.panel{
    
    width:900px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.intro{
    width:900px;
    height:70px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top : 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #C7DDDF;
}
.question{
    margin-bottom: 20px;
    width: 900px;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
    padding-bottom: 8px;
      
}
.options{
    display: flex;
    justify-content: space-around; 
    margin: auto;
    padding: 5px;
    width:900px;  
}
.option{    
    padding: 10px;
    width: 200px;
    height: 70px;
    font-size: larger;
    background-color: lightgreen;
    border-radius: 15px;
}
.option:hover{
    background-color: yellow;
}
.navigation{
    width: 900px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}
.validation,.suivant{
    width:100px;
    height:100px;
    padding: 5px;
    font-size: larger;
    border-radius: 100px;
}
.validation{
    background-color: #41bc7e;
}
.suivant{
    color: white;
    background-color: #763596; 
}
.result{
    margin-top:5px;
    height:40px;
    width:600px;
    text-align: center;
    font-size: 30px;
}
.containerResult {
    display:flex;
    flex-direction:column;
    justify-content: center;

}
.images{
    display : flex;
    justify-content : space-around;
    flex-wrap:nowrap;
    margin: 10px;
    padding: 5px;
    width: 900px;
}
.image{
    border : solid black 1px;
    width:100px;
    height:150px;
}
